In [88]:
import pandas as pd
import numpy as np

1. Вывести информацию о наборе данных.

In [89]:
df = pd.read_csv("Исходные данные.csv", low_memory=False)
df.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good

In [90]:
df.describe

<bound method NDFrame.describe of             ID Customer_ID     Month           Name   Age          SSN  \
0       0x1602   CUS_0xd40   January  Aaron Maashoh    23  821-00-0265
1       0x1603   CUS_0xd40  February  Aaron Maashoh    23  821-00-0265
2       0x1604   CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265
3       0x1605   CUS_0xd40     April  Aaron Maashoh    23  821-00-0265
4       0x1606   CUS_0xd40       May  Aaron Maashoh    23  821-00-0265
...        ...         ...       ...            ...   ...          ...
99995  0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990
99996  0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990
99997  0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990
99998  0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990
99999  0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990

      Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0      Scientist      19114.12            1824.843333                  3  ...
1      Scientist      19114.12                    NaN                  3  ...
2      Scientist      19114.12                    NaN                  3  ...
3      Scientist      19114.12                    NaN                  3  ...
4      Scientist      19114.12            1824.843333                  3  ...
...          ...           ...                    ...                ...  ...
99995   Mechanic      39628.99            3359.415833                  4  ...
99996   Mechanic      39628.99            3359.415833                  4  ...
99997   Mechanic      39628.99            3359.415833                  4  ...
99998   Mechanic      39628.99            3359.415833                  4  ...
99999   Mechanic     39628.99_            3359.415833                  4  ...

       Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0               _            809.98                26.822620
1            Good            809.98                31.944960
2            Good            809.98                28.609352
3            Good            809.98                31.377862
4            Good            809.98                24.797347
...           ...               ...                      ...
99995           _            502.38                34.663572
99996           _            502.38                40.565631
99997        Good            502.38                41.255522
99998        Good            502.38                33.638208
99999        Good            502.38                34.192463

           Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0       22 Years and 1 Months                     No           49.574949
1                         NaN                     No           49.574949
2       22 Years and 3 Months                     No           49.574949
3       22 Years and 4 Months                     No           49.574949
4       22 Years and 5 Months                     No           49.574949
...                       ...                    ...                 ...
99995   31 Years and 6 Months                     No           35.104023
99996   31 Years and 7 Months                     No           35.104023
99997   31 Years and 8 Months                     No           35.104023
99998   31 Years and 9 Months                     No           35.104023
99999  31 Years and 10 Months                     No           35.104023

      Amount_invested_monthly                 Payment_Behaviour  \
0           80.41529543900253   High_spent_Small_value_payments
1          118.28022162236736    Low_spent_Large_value_payments
2             81.699521264648   Low_spent_Medium_value_payments
3           199.4580743910713    Low_spent_Small_value_payments
4          41.420153086217326  High_spent_Medium_value_payments
...                       ...                               ...
99995       60.97133255718485   High_spent_Large_value_payments
99996       54.18595028760385  High_spent_Medium_value_payments
99997       24.02847744864441   High_spent_Large_value_payments
99998      251.67258219721603    Low_spent_Large_value_payments
99999       167.1638651610451                            !@9#%8

          Monthly_Balance Credit_Score
0      312.49408867943663         Good
1      284.62916249607184         Good
2       331.2098628537912         Good
3      223.45130972736786         Good
4      341.48923103222177         Good
...                   ...          ...
99995  479.86622816574095         Poor
99996    496.651610435322         Poor
99997   516.8090832742814         Poor
99998   319.1649785257098     Standard
99999   393.6736955618808         Poor

[100000 rows x 28 columns]>

In [91]:
df.shape

(100000, 28)

2. Определить наличие ошибочных записей в признаках.
Исправить ошибочные записи, либо заменить ошибочные записи пропусками. Num_of_Loan

In [92]:
uniq = df["Num_of_Loan"].unique() # Поскольку Num_of_Loan: количество кредитов, взятых в банке оно должно быть >= 0 и не содержать _
uniq

array(['4', '1', '3', '967', '-100', '0', '0_', '2', '3_', '2_', '7', '5',
       '5_', '6', '8', '8_', '9', '9_', '4_', '7_', '1_', '1464', '6_',
       '622', '352', '472', '1017', '945', '146', '563', '341', '444',
       '720', '1485', '49', '737', '1106', '466', '728', '313', '843',
       '597_', '617', '119', '663', '640', '92_', '1019', '501', '1302',
       '39', '716', '848', '931', '1214', '186', '424', '1001', '1110',
       '1152', '457', '1433', '1187', '52', '1480', '1047', '1035',
       '1347_', '33', '193', '699', '329', '1451', '484', '132', '649',
       '995', '545', '684', '1135', '1094', '1204', '654', '58', '348',
       '614', '1363', '323', '1406', '1348', '430', '153', '1461', '905',
       '1312', '1424', '1154', '95', '1353', '1228', '819', '1006', '795',
       '359', '1209', '590', '696', '1185_', '1465', '911', '1181', '70',
       '816', '1369', '143', '1416', '455', '55', '1096', '1474', '420',
       '1131', '904', '89', '1259', '527', '1241', '449', '983', '418',
       '319', '23', '238', '638', '138', '235_', '280', '1070', '1484',
       '274', '494', '1459_', '404', '1354', '1495', '1391', '601',
       '1313', '1319', '898', '231', '752', '174', '961', '1046', '834',
       '284', '438', '288', '1463', '1151', '719', '198', '1015', '855',
       '841', '392', '1444', '103', '1320_', '745', '172', '252', '630_',
       '241', '31', '405', '1217', '1030', '1257', '137', '157', '164',
       '1088', '1236', '777', '1048', '613', '330', '1439', '321', '661',
       '952', '939', '562', '1202', '302', '943', '394', '955', '1318',
       '936', '781', '100', '1329', '1365', '860', '217', '191', '32',
       '282', '351', '1387', '757', '416', '833', '359_', '292', '1225_',
       '1227', '639', '859', '243', '267', '510', '332', '996', '597',
       '311', '492', '820', '336', '123', '540', '131_', '1311_', '1441',
       '895', '891', '50', '940', '935', '596', '29', '1182', '1129_',
       '1014', '251', '365', '291', '1447', '742', '1085', '148', '462',
       '832', '881', '1225', '1412', '785_', '1127', '910', '538', '999',
       '733', '101', '237', '87', '659', '633', '387', '447', '629',
       '831', '1384', '773', '621', '1419', '289', '143_', '285', '1393',
       '1131_', '27_', '1359', '1482', '1189', '1294', '201', '579',
       '814', '141', '1320', '581', '1171_', '295', '290', '433', '679',
       '1040', '1054', '1430', '1023', '1077', '1457', '1150', '701',
       '1382', '889', '437', '372', '1222', '126', '1159', '868', '19',
       '1297', '227_', '190', '809', '1216', '1074', '571', '520', '1274',
       '1340', '991', '316', '697', '926', '873', '1002', '378_', '65',
       '875', '867', '548', '652', '1372', '606', '1036', '1300', '17',
       '1178', '802', '1219_', '1271', '1137', '1496', '439', '196',
       '636', '192', '228', '1053', '229', '753', '1296', '1371', '254',
       '863', '464', '515', '838', '1160', '1289', '1298', '799', '182',
       '574', '527_', '242', '415', '869', '958', '54', '1265', '656',
       '275', '778', '208', '147', '350', '507', '463', '497', '1129',
       '927', '653', '662', '529', '635', '1027_', '897', '1039', '227',
       '1345', '924', '696_', '1279', '546', '1112', '1210', '526', '300',
       '1103', '504', '136', '1400', '78', '686', '1091', '344', '215',
       '84', '628', '1470', '968', '1478', '83', '1196', '1307', '1132_',
       '1008', '917', '657', '56', '18', '41', '801', '978', '216', '349',
       '966'], dtype=object)

In [93]:
zamena = dict()

for i in uniq:
    if '_' in i and i not in zamena:
        correct = i.replace('_', '')
        zamena[i] = correct

    if '-' in i:
        correct = i.replace('-', '')
        zamena[i] = correct
        
zamena

{'-100': '100',
 '0_': '0',
 '3_': '3',
 '2_': '2',
 '5_': '5',
 '8_': '8',
 '9_': '9',
 '4_': '4',
 '7_': '7',
 '1_': '1',
 '6_': '6',
 '597_': '597',
 '92_': '92',
 '1347_': '1347',
 '1185_': '1185',
 '235_': '235',
 '1459_': '1459',
 '1320_': '1320',
 '630_': '630',
 '359_': '359',
 '1225_': '1225',
 '131_': '131',
 '1311_': '1311',
 '1129_': '1129',
 '785_': '785',
 '143_': '143',
 '1131_': '1131',
 '27_': '27',
 '1171_': '1171',
 '227_': '227',
 '378_': '378',
 '1219_': '1219',
 '527_': '527',
 '1027_': '1027',
 '696_': '696',
 '1132_': '1132'}

In [94]:
df = df.replace({"Num_of_Loan" : zamena})
df["Num_of_Loan"].unique()

array(['4', '1', '3', '967', '100', '0', '2', '7', '5', '6', '8', '9',
       '1464', '622', '352', '472', '1017', '945', '146', '563', '341',
       '444', '720', '1485', '49', '737', '1106', '466', '728', '313',
       '843', '597', '617', '119', '663', '640', '92', '1019', '501',
       '1302', '39', '716', '848', '931', '1214', '186', '424', '1001',
       '1110', '1152', '457', '1433', '1187', '52', '1480', '1047',
       '1035', '1347', '33', '193', '699', '329', '1451', '484', '132',
       '649', '995', '545', '684', '1135', '1094', '1204', '654', '58',
       '348', '614', '1363', '323', '1406', '1348', '430', '153', '1461',
       '905', '1312', '1424', '1154', '95', '1353', '1228', '819', '1006',
       '795', '359', '1209', '590', '696', '1185', '1465', '911', '1181',
       '70', '816', '1369', '143', '1416', '455', '55', '1096', '1474',
       '420', '1131', '904', '89', '1259', '527', '1241', '449', '983',
       '418', '319', '23', '238', '638', '138', '235', '280', '1070',
       '1484', '274', '494', '1459', '404', '1354', '1495', '1391', '601',
       '1313', '1319', '898', '231', '752', '174', '961', '1046', '834',
       '284', '438', '288', '1463', '1151', '719', '198', '1015', '855',
       '841', '392', '1444', '103', '1320', '745', '172', '252', '630',
       '241', '31', '405', '1217', '1030', '1257', '137', '157', '164',
       '1088', '1236', '777', '1048', '613', '330', '1439', '321', '661',
       '952', '939', '562', '1202', '302', '943', '394', '955', '1318',
       '936', '781', '1329', '1365', '860', '217', '191', '32', '282',
       '351', '1387', '757', '416', '833', '292', '1225', '1227', '639',
       '859', '243', '267', '510', '332', '996', '311', '492', '820',
       '336', '123', '540', '131', '1311', '1441', '895', '891', '50',
       '940', '935', '596', '29', '1182', '1129', '1014', '251', '365',
       '291', '1447', '742', '1085', '148', '462', '832', '881', '1412',
       '785', '1127', '910', '538', '999', '733', '101', '237', '87',
       '659', '633', '387', '447', '629', '831', '1384', '773', '621',
       '1419', '289', '285', '1393', '27', '1359', '1482', '1189', '1294',
       '201', '579', '814', '141', '581', '1171', '295', '290', '433',
       '679', '1040', '1054', '1430', '1023', '1077', '1457', '1150',
       '701', '1382', '889', '437', '372', '1222', '126', '1159', '868',
       '19', '1297', '227', '190', '809', '1216', '1074', '571', '520',
       '1274', '1340', '991', '316', '697', '926', '873', '1002', '378',
       '65', '875', '867', '548', '652', '1372', '606', '1036', '1300',
       '17', '1178', '802', '1219', '1271', '1137', '1496', '439', '196',
       '636', '192', '228', '1053', '229', '753', '1296', '1371', '254',
       '863', '464', '515', '838', '1160', '1289', '1298', '799', '182',
       '574', '242', '415', '869', '958', '54', '1265', '656', '275',
       '778', '208', '147', '350', '507', '463', '497', '927', '653',
       '662', '529', '635', '1027', '897', '1039', '1345', '924', '1279',
       '546', '1112', '1210', '526', '300', '1103', '504', '136', '1400',
       '78', '686', '1091', '344', '215', '84', '628', '1470', '968',
       '1478', '83', '1196', '1307', '1132', '1008', '917', '657', '56',
       '18', '41', '801', '978', '216', '349', '966'], dtype=object)

In [95]:
for i in df["Num_of_Loan"]:
    try:
        int(i)
    except:
        print("Ошибка c", i)
else:
    print("Ошибочных данных нет")

Ошибочных данных нет

3. В соответствии с вариантом преобразовать признаки, которые должны быть количественными в числовой формат.

In [96]:
df["Num_of_Loan"] = df["Num_of_Loan"].astype(np.int64)
df["Num_of_Loan"]

0        4
1        4
2        4
3        4
4        4
        ..
99995    2
99996    2
99997    2
99998    2
99999    2
Name: Num_of_Loan, Length: 100000, dtype: int64

4. Для всех вариантов преобразовать признак "Credit_History_Age" в числовой формат (месяцы).

In [97]:
df[["Credit_History_Age"]].head(10)

      Credit_History_Age
0  22 Years and 1 Months
1                    NaN
2  22 Years and 3 Months
3  22 Years and 4 Months
4  22 Years and 5 Months
5  22 Years and 6 Months
6  22 Years and 7 Months
7                    NaN
8  26 Years and 7 Months
9  26 Years and 8 Months

In [98]:
cha = list(map(lambda x: int(x.split()[0]) * 12 + int(x.split()[3]) if x is not np.NaN else x, df["Credit_History_Age"].tolist()))
cha

[265,
 nan,
 267,
 268,
 269,
 270,
 271,
 nan,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 213,
 214,
 215,
 nan,
 217,
 218,
 219,
 220,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 nan,
 384,
 nan,
 386,
 387,
 nan,
 389,
 390,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 nan,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 nan,
 318,
 319,
 320,
 321,
 nan,
 323,
 324,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 nan,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 107,
 108,
 109,
 110,
 111,
 112,
 nan,
 114,
 218,
 219,
 220,
 221,
 222,
 nan,
 224,
 225,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 350,
 351,
 352,
 nan,
 354,
 nan,
 356,
 357,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 218,
 219,
 nan,
 221,
 nan,
 223,
 224,
 225,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 393,
 394,
 395,
 396,
 397,
 nan,
 nan,
 400,
 147,
 148,
 149,
 150,
 151,
 152,
 nan,
 154,
 nan,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 214,
 215,
 nan,
 217,
 218,
 nan,
 nan,
 221,
 164,
 nan,
 nan,
 167,
 168,
 169,
 170,
 171,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 363,
 364,
 365,
 366,
 367,
 368,
 nan,
 370,
 nan,
 105,
 106,
 107,
 108,
 109,
 nan,
 111,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 nan,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 157,
 158,
 159,
 nan,
 161,
 162,
 163,
 164,
 257,
 258,
 259,
 260,
 261,
 262,
 nan,
 264,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 nan,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 nan,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 nan,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 nan,
 nan,
 126,
 127,
 nan,
 129,
 130,
 nan,
 132,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 4,
 5,
 6,
 nan,
 8,
 9,
 10,
 nan,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 151,
 152,
 153,
 154,
 nan,
 156,
 157,
 158,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 nan,
 nan,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 152,
 153,
 154,
 nan,
 156,
 nan,
 158,
 nan,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 nan,
 122,
 123,
 nan,
 125,
 126,
 127,
 128,
 129,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 nan,
 369,
 370,
 371,
 372,
 373,
 nan,
 375,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 158,
 159,
 160,
 161,
 162,
 nan,
 164,
 165,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 nan,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 275,
 276,
 nan,
 278,
 279,
 280,
 281,
 282,
 100,
 101,
 102,
 103,
 104,
 nan,
 106,
 107,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 146,
 147,
 nan,
 149,
 150,
 151,
 152,
 153,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 319,
 320,
 321,
 nan,
 323,
 324,
 325,
 nan,
 nan,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 155,
 156,
 157,
 158,
 nan,
 160,
 161,
 162,
 357,
 nan,
 359,
 360,
 nan,
 362,
 363,
 364,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 nan,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 nan,
 90,
 91,
 92,
 93,
 94,
 nan,
 96,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 nan,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 364,
 nan,
 366,
 367,
 368,
 369,
 nan,
 371,
 343,
 nan,
 345,
 346,
 347,
 348,
 nan,
 350,
 nan,
 161,
 162,
 163,
 nan,
 165,
 166,
 167,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 309,
 nan,
 nan,
 312,
 313,
 314,
 315,
 316,
 345,
 346,
 nan,
 348,
 349,
 nan,
 351,
 352,
 57,
 nan,
 59,
 60,
 61,
 62,
 63,
 64,
 379,
 nan,
 381,
 382,
 383,
 384,
 385,
 386,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 nan,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 nan,
 nan,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 268,
 269,
 270,
 271,
 nan,
 273,
 274,
 275,
 196,
 197,
 198,
 199,
 200,
 nan,
 202,
 203,
 273,
 274,
 275,
 nan,
 277,
 278,
 279,
 nan,
 259,
 260,
 261,
 262,
 263,
 264,
 nan,
 266,
 259,
 260,
 nan,
 262,
 263,
 264,
 265,
 266,
 242,
 243,
 244,
 nan,
 246,
 247,
 248,
 249,
 nan,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 146,
 147,
 nan,
 nan,
 150,
 151,
 152,
 nan,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 nan,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 58,
 nan,
 60,
 61,
 62,
 63,
 64,
 65,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 nan,
 265,
 nan,
 267,
 268,
 269,
 270,
 271,
 272,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 ...]

In [100]:
df["Credit_History_Age"] = cha
df[["Credit_History_Age"]].head(10)

   Credit_History_Age
0               265.0
1                 NaN
2               267.0
3               268.0
4               269.0
5               270.0
6               271.0
7                 NaN
8               319.0
9               320.0

5. Определить наличие аномальных значений, которые не соответствуют физической природе признаков.

In [101]:
df[["Age"]].head(10)

    Age
0    23
1    23
2  -500
3    23
4    23
5    23
6    23
7    23
8   28_
9    28

In [103]:
df["Age"].unique().tolist()

['23',
 '-500',
 '28_',
 '28',
 '34',
 '54',
 '55',
 '21',
 '31',
 '33',
 '34_',
 '7580',
 '30',
 '30_',
 '24',
 '24_',
 '44',
 '45',
 '40',
 '41',
 '32',
 '33_',
 '35',
 '35_',
 '36',
 '39',
 '37',
 '181',
 '20',
 '46',
 '26',
 '42',
 '19',
 '31_',
 '48',
 '995',
 '40_',
 '37_',
 '38',
 '54_',
 '5079',
 '43',
 '21_',
 '22',
 '6409',
 '16',
 '7080',
 '18',
 '849',
 '3885',
 '20_',
 '15',
 '27',
 '43_',
 '38_',
 '25',
 '3052',
 '14',
 '5342',
 '17',
 '18_',
 '4431',
 '2657',
 '2111_',
 '46_',
 '47',
 '1032',
 '16_',
 '19_',
 '47_',
 '456',
 '5717',
 '53_',
 '53',
 '56',
 '25_',
 '27_',
 '55_',
 '3169',
 '1191',
 '29',
 '42_',
 '7140',
 '48_',
 '49',
 '49_',
 '8233',
 '6955',
 '2534',
 '3115',
 '7657',
 '51',
 '50',
 '5112',
 '50_',
 '32_',
 '6452',
 '2744',
 '22_',
 '17_',
 '1439',
 '29_',
 '5795',
 '4872',
 '1772',
 '15_',
 '1383',
 '5657',
 '52',
 '1934',
 '51_',
 '8352',
 '3734',
 '26_',
 '2056',
 '39_',
 '7508',
 '2339',
 '14_',
 '8406',
 '1424',
 '36_',
 '6953',
 '5626',
 '4471',
 '548',
 '44_',
 '769',
 '5490',
 '525',
 '4202',
 '3665',
 '7670_',
 '4670',
 '3616',
 '6922',
 '6619',
 '1808',
 '7992',
 '45_',
 '223',
 '1232',
 '4659',
 '6895',
 '395',
 '7099',
 '6048',
 '3936',
 '3512',
 '123',
 '5639',
 '471',
 '7359',
 '23_',
 '4049',
 '5053',
 '2109',
 '7183',
 '5604',
 '1206',
 '6835',
 '4067',
 '41_',
 '1812',
 '1170',
 '3625',
 '6354',
 '3724',
 '480',
 '5610',
 '4710',
 '4351',
 '52_',
 '5784',
 '3937',
 '3542',
 '2239',
 '5645',
 '7425',
 '7851',
 '2027',
 '6306',
 '835',
 '3513',
 '6846',
 '6868',
 '7805',
 '7274',
 '831',
 '8394',
 '2751',
 '733_',
 '783',
 '2455',
 '5612',
 '2402',
 '4119',
 '4645',
 '8105',
 '1400',
 '7431',
 '3666',
 '2350',
 '491',
 '1116',
 '692',
 '5429',
 '4745',
 '4017',
 '3279',
 '651',
 '5611',
 '5769_',
 '6586',
 '7699',
 '919',
 '6765',
 '5376',
 '2546',
 '112',
 '3909',
 '5054',
 '8655',
 '4383_',
 '2824',
 '56_',
 '7865',
 '2823',
 '6365',
 '5688',
 '6178',
 '886',
 '3353',
 '8562',
 '7750',
 '5186',
 '8080',
 '3553',
 '5537',
 '3967',
 '6520',
 '2650_',
 '1335',
 '2054',
 '7068',
 '6100',
 '2636',
 '1753',
 '6389',
 '2419',
 '2033',
 '2961',
 '3307_',
 '5504',
 '4060',
 '5237',
 '2297',
 '5583',
 '4958',
 '6395',
 '3319',
 '7705',
 '4820',
 '2456',
 '5194',
 '5154',
 '4155',
 '7336',
 '7195',
 '8005',
 '5165',
 '3861',
 '2584',
 '2563',
 '5592',
 '3771',
 '1188',
 '5017',
 '8034',
 '5256',
 '8173',
 '6962_',
 '3578',
 '4572',
 '5589_',
 '328',
 '1678',
 '1512',
 '6556_',
 '5430',
 '8442',
 '4517',
 '7525',
 '1203',
 '4260',
 '7980',
 '7153',
 '2400',
 '6331',
 '3715',
 '3285',
 '8043',
 '8250',
 '8628',
 '8608',
 '7016',
 '989',
 '359',
 '8155',
 '2090',
 '4126',
 '3791',
 '5782',
 '6292',
 '8662',
 '1681',
 '1338',
 '8000',
 '7935',
 '5608',
 '1006',
 '1451',
 '622',
 '4857',
 '2369',
 '8216',
 '7330',
 '7289',
 '3601',
 '4127',
 '236',
 '6707',
 '493',
 '4682',
 '287',
 '375',
 '5195',
 '1969',
 '5788',
 '6413',
 '2388',
 '5152',
 '3986',
 '1715',
 '8200',
 '4336',
 '8299',
 '1308',
 '3888',
 '1051',
 '134',
 '5897',
 '6350',
 '2379',
 '3197',
 '3341',
 '8674',
 '7123',
 '556',
 '1083',
 '1447_',
 '7032',
 '5579',
 '1692',
 '4204',
 '7968',
 '1148',
 '2980',
 '4626',
 '3492',
 '1323',
 '2799',
 '6426',
 '186',
 '5498',
 '7060',
 '1752',
 '1816',
 '609',
 '2514',
 '6276',
 '4365',
 '8421',
 '8153_',
 '4609',
 '1625',
 '2614',
 '4603',
 '7026',
 '4010',
 '624',
 '1143',
 '5870',
 '3607',
 '8505',
 '528',
 '1578',
 '4404',
 '4414',
 '6704',
 '2509',
 '7456',
 '7353',
 '3075',
 '2081',
 '925',
 '4021',
 '3602',
 '5930',
 '306',
 '7197',
 '1066',
 '4527',
 '6510',
 '1062',
 '5221',
 '7166',
 '4391',
 '6651',
 '1227',
 '7112',
 '3214',
 '8472',
 '836',
 '7553',
 '7504',
 '1357',
 '3284',
 '2721',
 '6385',
 '2997',
 '2451',
 '3480',
 '3357',
 '711',
 '8632',
 '1388',
 '5696',
 '5524',
 '356',
 '6608',
 '5705',
 '8567',
 '3132',
 '1433',
 '1695',
 '8639',
 '8582',
 '2275',
 '4959',
 '3834_',
 '623',
 '7295',
 '3345',
 '3493',
 '182',
 '126',
 '6744_',
 '4390',
 '7715',
 '6130',
 '6471_',
 '7723_',
 '3768',
 '4178',
 '4630',
 '1420',
 '6417',
 '2560',
 '3985',
 '3750',
 '4444',
 '234',
 '3795',
 '637',
 '6649',
 '4380',
 '5714',
 '7693',
 '2174',
 '2366',
 '5781',
 '5677',
 '3038',
 '4897',
 '7937',
 '365',
 '7640_',
 '6408_',
 '1112',
 '3546',
 '8424',
 '124',
 '3502_',
 '5747',
 '8082',
 '7564',
 '1436',
 '3519',
 '6175',
 '2091',
 '8249',
 '7316_',
 '2578',
 '4687',
 '4163',
 '5796',
 '5123',
 '6943',
 '8338',
 '6345',
 '1364',
 '6777',
 '4782',
 '5981',
 '963',
 '5907',
 '6978',
 '673',
 '6322',
 '6384',
 '3036',
 '1270',
 '8561',
 '634',
 '2352',
 '6800',
 '118',
 '1010',
 '2395',
 '6781',
 '5520',
 '7042',
 '8592',
 '1868',
 '4307',
 '2764',
 '6796',
 '6646',
 '142',
 '6141',
 '1852',
 '4416',
 '8466',
 '4576',
 '3410',
 '8151',
 '890',
 '3581',
 '6925',
 '5479',
 '1102_',
 '8669_',
 '5074',
 '2463_',
 '3940',
 '5508',
 '1788',
 '216',
 '5173',
 '7965',
 '7987',
 '6666_',
 '921',
 '4719',
 '7092',
 '1657',
 '5738',
 '349',
 '6995',
 '7441',
 '5976',
 '762',
 '6485',
 '7702',
 '5708',
 '946',
 '4564',
 '3093',
 '6767',
 '3933',
 '3458',
 '1300',
 '5851',
 '774',
 '2577',
 '1811',
 '7480',
 '7113',
 '6273',
 '7235',
 '1452',
 '4058',
 '7520',
 '7414',
 '4370',
 '1853',
 '4649',
 '7845',
 '2864',
 '7925',
 '5550',
 '4165',
 '6411',
 '4063',
 '3215',
 '169',
 '99',
 '3055_',
 '1248_',
 '586',
 '2386',
 '5649',
 '8520',
 '100',
 '3978',
 '3244',
 '3778',
 '879',
 '1024',
 '423',
 '3938',
 '2882',
 '6036',
 '6037',
 '1484',
 '4643',
 '4510',
 '3146',
 '8514',
 '2220_',
 '6360',
 '362',
 '5996',
 '6892',
 '2159_',
 '5001',
 '576',
 '5018',
 '387',
 '4890',
 '5507',
 '4661',
 '1386',
 '330',
 '6074',
 '6970',
 '102',
 '5906',
 '203',
 '3640',
 '8124',
 '4484',
 '2778',
 '2434',
 '742',
 '7794',
 '4177',
 '4246',
 '208',
 '5765',
 '7710',
 '1734',
 '5202',
 '853',
 '3450',
 '1630',
 '3843',
 '7038',
 '8384',
 '8179',
 '5551',
 '6593',
 '7490',
 '2574',
 '1644',
 '111',
 '4975',
 '5478',
 '1176',
 '1418',
 '4679',
 '5751',
 '3779',
 '6611',
 '325',
 '7879',
 '6227',
 '6111',
 '573',
 '3726',
 '6722',
 '4732',
 '1754',
 '3966',
 '2437',
 '2212',
 '8081',
 '4194',
 '3119',
 '7549',
 '4583_',
 '3452',
 '1908',
 '3988_',
 '5621',
 '7178',
 '5741',
 '4774',
 '5116',
 '3378',
 '8302',
 '7651',
 '404',
 '3023',
 '5032',
 '4787',
 '305',
 '4107',
 '381',
 '8623',
 '6407',
 '3675',
 '1265',
 '399',
 '2461',
 '2977',
 '3490',
 '438',
 '1328',
 '2037',
 '1609',
 '7325',
 '8682',
 '4470',
 '899',
 '5532',
 '4083',
 '3096',
 '1971',
 '1094',
 '1294',
 '7736',
 '6366',
 '5287',
 '4244',
 '3853',
 '4214',
 '1402',
 '2672',
 '5008',
 '2155_',
 '2756',
 '4846',
 '7773',
 '2182',
 '5994',
 '4980',
 '6301',
 '3363',
 '8663',
 '1520',
 '678',
 '4056',
 '7279',
 '828',
 '4076',
 '1491',
 '6697',
 '5340',
 '813',
 '6001',
 '5288',
 '6197',
 '5177',
 '7014',
 '1686',
 '2382',
 '1378',
 '2650',
 '3264',
 '6006',
 '4736',
 '4213',
 '532',
 '506',
 '3276',
 '4525',
 '6653',
 '8306',
 '5117',
 '2048',
 '3701',
 '95',
 '1387',
 '6799',
 '267',
 '1786',
 '7787',
 '7797',
 '4590',
 '6378',
 '3369',
 '4542',
 '1366',
 '540',
 '3899',
 '6770_',
 '1497',
 '7377',
 '6550',
 '5539',
 '7133',
 '5156',
 '5742',
 '1363',
 '1095',
 '1648',
 '1985',
 '4607',
 '993',
 '1330',
 '5066',
 '6463',
 '6349',
 '2988',
 '6691',
 '3145',
 '793',
 '1119',
 '8159',
 '8396',
 '3193',
 '3085',
 '6971',
 '5959',
 '1843_',
 '449',
 '5377',
 '4387',
 '5902',
 '620',
 '514',
 '252',
 '6915',
 '3642',
 '2974',
 '6381',
 '652',
 '1367_',
 '553',
 '1355',
 '4277',
 '7713',
 '8291',
 '8154',
 '7933',
 '2347',
 '6098',
 '2731',
 '3742_',
 '2593',
 '4232',
 '5909',
 '2171_',
 '4120',
 '2449',
 '4311',
 '8296',
 '7556',
 '1404',
 '7856',
 '640',
 '2847',
 '2093',
 '5109_',
 '1571',
 '846',
 '1435',
 '8333',
 '6863',
 '655',
 '6262',
 '4914',
 '1053',
 '3747',
 '4931',
 '7315',
 '292',
 '2499',
 '4847',
 '736',
 '2858',
 '6633',
 '7286',
 '2989',
 '4135',
 '3639',
 '4746',
 '1787',
 '4298',
 '8049',
 '2696',
 '6909',
 '7894',
 '8525',
 '1947',
 '7765',
 '8004',
 '8234',
 '6708',
 '2404',
 '6506',
 '1661',
 '8246',
 '7923',
 '2047',
 '3365',
 '4863',
 '701',
 '2184',
 '8450',
 '581',
 '502',
 '1618',
 '2077',
 '737',
 '8251',
 '2305',
 '7298',
 '221',
 '6663',
 '6657',
 '6588',
 '3463',
 '6337',
 '6516',
 '3984_',
 '2076',
 '2513',
 '6280',
 '3237',
 '3454',
 '4622',
 '5712',
 '275',
 '240',
 '5868',
 '568',
 '2096',
 '2170',
 '8235',
 '986',
 '5471',
 '1785',
 '1593',
 '2474_',
 '2933',
 '6731',
 '7131',
 '7444',
 '5046_',
 '4133',
 '3258',
 '4407',
 '7715_',
 '1565',
 '6159',
 '2276',
 '7459',
 '3891',
 '3205',
 '2117',
 '7806',
 '6638',
 '8271',
 '3920',
 '2843',
 '4881',
 '4909',
 '6283',
 '4948',
 '6894',
 '5041',
 '7619',
 '7063',
 '3952',
 '2486',
 '5936',
 '6581',
 '1384',
 '8260',
 '6286',
 '5111',
 '4923',
 '7694',
 '1220',
 '6841',
 '1540',
 '2181',
 ...]

In [ ]:
age = df["Age"]